.cards {
  h1 {
      font-size: 5rem;
      text-align: center;
      padding: 1em;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .card {
      background: #313131;
      width: 300px;
      height: 400px;
      margin: 1em;
      border-radius: 1em;
      padding: 0.8em;
      transition: all 0.6s ease;
      text-align: center;
      font-family: "Poppins", sans-serif;
      box-shadow: black 0px 1px 3px;

      h2 {
        font-size: 1.5em;
        color: rgb(0, 225, 255);
      }

      .card-image { 
        background-color: aqua;
        height: 170px;
        margin-bottom: 1em;
        background-size: cover;
        border-radius: 1em;
      }

      .fps-reason {
        background-image: url(/images/fps.png);
      }

      .community-reason {
        background-image: url(/images/community.png);
      }

      .mods-reason {
        background-image: url(/images/common-mods.png);
      }

      &:hover {
        background: #4e4e4e;
        cursor: pointer;
        transform: scale(1.03);
        box-shadow: white 0px 5px;
      }
    }
  }
}
